<p>
DILIGENCIA DE DETERMINACIÓN DEL GRADO DE ALCOHOLEMIA.
</p>

<p>
En Elche siendo las ____:____ horas del día ___/___/______, se requiere al/la conductor/a D/Dña. _________________________________________________________________________, para que se someta a la prueba de determinación del grado de impregnación alcohólica por el método del aire espirado, utilizando para ello el etilómetro oficialmente autorizado marca DRÄGER, modelo 7110-E, número _______________.
</p>

<p>
Se informa en éste acto al conductor/a de la mecánica de su funcionamiento, siendo el procedimiento seguido para efectuar las pruebas de detección alcohólica  mediante el aire espirado, y en ambas pruebas se utiliza una boquilla de único uso, desprecintadas por el interesado, utilizando para ello el etilómetro marca DRÄGER modelo 7110-E, número _____________, manifestando su  conformidad, realizando la prueba, efectuada a las ___:____ horas, dando ésta un resultado de __________ mg. de alcohol por litro de aire espirado (___________________________________________________ mg./l.).
</p>

<p>
Se comunica a la persona que  se le va a someter, a efectos de contraste, a la práctica de una segunda prueba idéntica a la anterior. Así pues, siendo las ____:____  horas del día  ___ /___ /______, se procede a la realización de la segunda prueba, utilizando para ello el etilómetro marca DRÄGER modelo 7110-E, número _____________ dando un resultado de ____________ mg. de alcohol por litro de aire espirado (________________________________________________________________ mg./l.).
</p>

<p>
Durante el tiempo transcurrido entre ambas pruebas el/la conductor/a implicado/a no ha consumido bebidas alcohólicas.
</p>

<p>
Se informa al implicado/a del derecho a contrastar los resultados obtenidos anteriormente mediante análisis de sangre, orina u otros análogos, que el personal del Centro Médico al que sea trasladado/a estime más adecuado, quedando igualmente informado que el importe de dichos análisis deberá ser previamente depositado por el interesado y con él se atenderá al pago cuando el resultado de la prueba de contraste sea positivo (art.23 R.G.C.), manifestando que________________________________________________________________________.
</p>

<p>
☐  Conducir un vehículo bajo los efectos del alcohol puede suponer un delito contra la seguridad vial tipificado en el artículo 379.2 del Código Penal, por lo que se instruye atestado con número______________, siendo remitido al Juzgado de Instrucción número ____________ de Elche.
</p>

<p>
☐  Conducir un vehículo a motor con una tasa de alcohol superior a 0.25 mg/l supone una infracción del artículo 20 del Reglamento General de Circulación formulándose por ello denuncia con número de boletín __________________________________ del Excmo. Ayuntamiento de Elche.
</p>






<p>
Y para que así conste, una vez leída y hallándola el/la implicado/a    conforme,    firma la presente en unión de los Agentes Instructores.
</p>
