<p>
DILIGENCIA DE DETENCIÓN Y LECTURA DE DERECHOS DEL DETENIDO.
</p>

<p>
A las ____:____ horas del día ____/____/______ y en cumplimiento de lo dispuesto en el artículo
520 de la Ley de Enjuiciamiento Criminal, se procede por parte de los Agentes de la Policía Local de
Elche con NIP ____ y ____, Instructor y Secretario, a poner en conocimiento de
D/Dña._____________________________________________________________________________,
que ha sido detenido por su participación en un presunto delito contra la Seguridad Vial, por
_____________________________________________________, así como los derechos que le asisten,
consistentes en:
</p>

<p>
a) Derecho a guardar silencio no declarando si no quiere, a no contestar alguna o algunas de las
preguntas que le formulen, o a manifestar que sólo declarará ante el juez.
b) Derecho a no declarar contra sí mismo y a no confesarse culpable.
c) Derecho a designar abogado, sin perjuicio de lo dispuesto en el apartado 1.a) del artículo 527 y
a ser asistido por él sin demora injustificada. En caso de que, debido a la lejanía geográfica no sea
posible de inmediato la asistencia de letrado, se facilitará al detenido comunicación telefónica o por
videoconferencia con aquél, salvo que dicha comunicación sea imposible.
d) Derecho a acceder a los elementos de las actuaciones que sean esenciales para impugnar la
legalidad de la detención o privación de libertad.
e) Derecho a que se ponga en conocimiento del familiar o persona que desee, sin demora
injustificada, su privación de libertad y el lugar de custodia en que se halle en cada momento. Los
extranjeros tendrán derecho a que las circunstancias anteriores se comuniquen a la oficina consular de
su país.
f) Derecho a comunicarse telefónicamente, sin demora injustificada, con un tercero de su
elección. Esta comunicación se celebrará en presencia de un funcionario de policía o, en su caso, del
funcionario que designen el juez o el fiscal, sin perjuicio de lo dispuesto en el artículo 527.
g) Derecho a ser visitado por las autoridades consulares de su país, a comunicarse y a mantener
correspondencia con ellas.
h) Derecho a ser asistido gratuitamente por un intérprete, cuando se trate de extranjero que no
comprenda o no hable el castellano o la lengua oficial de la actuación de que se trate, o de personas
sordas o con discapacidad auditiva, así como de otras personas con dificultades del lenguaje.
i) Derecho a ser reconocido por el médico forense o su sustituto legal y, en su defecto, por el de la
institución en que se encuentre, o por cualquier otro dependiente del Estado o de otras Administraciones
Públicas.
j) Derecho a solicitar asistencia jurídica gratuita, procedimiento para hacerlo y condiciones para
obtenerla.
</p>
<p>
Igualmente se le informa:
1.- En relación con el número 5 del citado artículo, el detenido podrá renunciar a la preceptiva
asistencia de Letrado si su declaración lo fuere por hechos susceptibles de ser tipificados
exclusivamente, como delitos contra la seguridad del tráfico.
2.- Se le hará entrega de una copia de esta diligencia con las causas que motivaron su detención y
los derechos constitucionales que le asisten.
3.- El plazo máximo legal de duración de la detención hasta la puesta a disposición de la autoridad
judicial es de 24 o 72 horas, según proceda.
4.- Si el detenido entiende que su detención es ilegal, puede instar al instructor al
ejercicio de su derecho de Habeas Corpus, pausando la instrucción de las presentes
diligencias y presentándose inmediatamente ante la autoridad judicial.
</p>

<p>>
QUEDO INFORMADO DE MIS DERECHOS a las __:__ horas del día __/__/____
expresando mi deseo de:
No declarar, solo declarará ante la Autoridad Judicial.-
Ser asistido por el letrado: D.__________________________________________________,
en sede policial y judicial.-
Ser asistido por el letrado del turno de oficio en sede policial y judicial.-
Que comuniquen la detención y lugar de custodia a:_________________________________,
que vive en ____________________________________________________________________ y cuyo
número de teléfono es ________________________.-
Comunicarse telefónicamente con D. ________________________________________, cuyo
número de teléfono es _____________.-
Que comuniquen la detención al Consulado.-
Ser asistido por un intérprete.-
Ser reconocido por el médico.-
Prescindir de la asistencia letrada en la toma de declaración y demás diligencias que se
practiquen en sede policial.-
Iniciar el procedimiento de Habeas Corpus.-
Solicitar asistencia jurídica gratuita, procedimiento para hacerlo y condiciones para obtenerla.-
</p>

<p>
Y para que así conste, una vez leída y hallándola el/la implicado/a conforme, firma la presente en
unión de los Agentes Instructores que CERTIFICAN.
</p>
