<p>
ACTA DE LEVANTAMIENTO DE INMOVILIZACIÓN DE UN VEHÍCULO
</p>

<p>

En la Ciudad de Elche (Alicante), siendo las ____:_____ horas del día ___/___/______, se
procede por los agentes de esta Policía Local con números profesionales _______ y ________, al
levantamiento de la inmovilización del vehículo marca/modelo _______________________, con
matrícula ___________, siendo su titular y/o conductor D./Dña.____________________________
________________, con D.N.I./N.I.E. nº __________________, de nacionalidad _______________,
nacido/a el _____________ en ________________, vecino de ______________, con domicilio en
________________________________________, teléfono nº _____________________.
</p>

<p>
La inmovilización que se llevó a efecto en _________________________________________
_____________________ de Elche, queda sin efecto y el citado vehículo a disposición del referido
implicado, al haber desaparecido las causas que motivaron la medida cautelar.
</p>

<p>
Y para que así conste se extiende la presente, que firma el /la implicado/a en presencia y en
unión de los Agentes Instructores.
</p>
