<p>
  CÉDULA DE CITACIÓN PARA JUICIOS RÁPIDOS POR DELITO.
</p>

<p>
  En calidad de: Investigado/a  
</p>

<p>
  En el Atestado número ____________ de fecha ___/___/______ de la Unidad de Investigación de Accidentes del Cuerpo de la Policía Local de Elche, por la presente se le comunica que deberá personarse el día ___/___/_______ a las _____:_____ horas, en el Juzgado de Instrucción número ___________ de los de Elche,  en funciones de Guardia, sito en la calle Eucaliptus.
</p>

<p>
  Se le informa que en caso de incomparecencia en el Juzgado en el día y hora señalados, la orden de comparecencia podrá convertirse en orden de detención (artículo 487 de la Ley de Enjuiciamiento Criminal).
</p>

<p>
  Se le informa de su derecho a comparecer en dicho Juzgado asistido de Abogado y en caso de no designación, se solicita de oficio al Colegio de Abogados de Elche.
</p>

<p>
  En Elche a ___/___/______
El Instructor  número __________.

</p>

<p>
  ENTERADO: El día ___/___/______ a las ____:____ horas.
Fdo.:   D/Dña. ____________________________________________________________________
            D.N.I._____________________

</p>