<p>
DILIGENCIA DE IDENTIFICACIÓN Y TOMA DE DECLARACIÓN DEL
CONDUCTOR.
</p>

<p>
En Elche siendo las ___:___ horas del día ___/___/______, ante los funcionarios del cuerpo de la
Policía Local con números profesionales _____ y _____, se procede a tomar en declaración de modo
voluntario al conductor/a D/Dña.
___________________________________________________________________________, con
DNI/NIE _______________________, de nacionalidad _________________, nacido en
_______________, el día ___/___/_____, hijo de _________ y de __________, vecino de
_______________, con domicilio en la calle ______________________________________________
_________________________________________________, con teléfono nº ___________________.
Poseedor de permiso de conducción de clase _____, con número ___________________,
expedido en __________________, en vigor desde el ___/___/______ hasta el ___/___/______.
Conductor del vehículo ____________ marca/modelo ______________________________,
matrícula _______________, a nombre de D._____________________________________________,
con domicilio en ________________ en la C/ ___________________________________________
___________________________________________.
El citado vehículo se encuentra asegurado en la compañía
_____________________________________________________ , con número de póliza
___________________, en vigor desde el ___/___/______ hasta el ___/___/_______.</p>

<p>
Preguntado/a si le han sido leídos sus derechos como denunciado /detenido y si conoce cual es el
motivo de su imputación / detención, manifiesta que:__________________________________.
Preguntado que de donde venía y hacia dónde se dirigía conduciendo el mencionado vehículo,
manifiesta que:____________.</p>

<p>
Con relación a la prueba de alcoholemia efectuada, se le formulan las siguientes preguntas por
parte de los agentes instructores:
Por la cantidad y clase de bebidas alcohólicas ingeridas durante las últimas veinticuatro horas
dice:____.</p>

<p>
Por la hora en que realizó la última comida y en que consistió, dice: _______________________
_________________________________________________________________________________.
Si padece alguna enfermedad de la que se esté medicando en la actualidad, bien bajo prescripción
médica o de forma libre, manifiesta que:
Si le ha sucedido algún hecho especial que haya influido en su comportamiento y el consumo de
alcohol manifiesta que:_____.</p>

<p>
Preguntado si ha sido denunciado o condenado administrativa o judicialmente por hechos del tipo
que se le imputan, manifiesta que: _______________________________________________________
_________________________________________________________________________________.
</p>

<p>
Preguntado/a si tiene algo mas que hacer constar, manifiesta que:__________________________
________________________________________________________________________________.</p>


<p>
Y para que así conste, una vez leída y hallándola el implicado/a ____ conforme, ____ firman la
presente y en unión de los Agentes Instructores.
</p>
