<div id="accordion" role="tablist" aria-multiselectable="true">

  <div class="card">
    <div class="card-header" role="tab" id="headingOne">
      <h5 class="mb-0">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          Comparecencia por delito de alcoholemia
        </a>
      </h5>
    </div>
    <div id="collapseOne" class="collapse" role="tabpanel" aria-labelledby="headingOne">
      <div class="card-block">
        <app-alc-comparecencia-dsv></app-alc-comparecencia-dsv>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header" role="tab" id="headingTwo">
      <h5 class="mb-0">
        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          Derechos y garantías de la prueba de alcoholemia
        </a>
      </h5>
    </div>
    <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo">
      <div class="card-block">
        <app-alc-dchos-gtias-prueba></app-alc-dchos-gtias-prueba>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header" role="tab" id="headingThree">
      <h5 class="mb-0">
        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          Determinacion de grado (Impregnación)
        </a>
      </h5>
    </div>
    <div id="collapseThree" class="collapse" role="tabpanel" aria-labelledby="headingThree">
      <div class="card-block">
        <app-alc-determinacion-grado></app-alc-determinacion-grado>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header" role="tab" id="heading4">
      <h5 class="mb-0">
        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse4" aria-expanded="false" aria-controls="collapse4">
          Negativa al sometimiento de las pruebas de alcoholemia
        </a>
      </h5>
    </div>
    <div id="collapse4" class="collapse" role="tabpanel" aria-labelledby="heading4">
      <div class="card-block">
        <app-alc-negativa-pruebas></app-alc-negativa-pruebas>
      </div>
    </div>
  </div>


  <div class="card">
    <div class="card-header" role="tab" id="heading5">
      <h5 class="mb-0">
        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse5" aria-expanded="false" aria-controls="collapse5">
          Información de derecho al investigado no detenido
        </a>
      </h5>
    </div>
    <div id="collapse5" class="collapse" role="tabpanel" aria-labelledby="heading5">
      <div class="card-block">
        <app-derechos-investigado></app-derechos-investigado>
      </div>
    </div>
  </div>


  <div class="card">
    <div class="card-header" role="tab" id="heading6">
      <h5 class="mb-0">
        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse6" aria-expanded="false" aria-controls="collapse6">
          Detención y lectura de derechos del detenido
        </a>
      </h5>
    </div>
    <div id="collapse6" class="collapse" role="tabpanel" aria-labelledby="heading6">
      <div class="card-block">
        <app-derechos-detenido></app-derechos-detenido>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header" role="tab" id="heading7">
      <h5 class="mb-0">
        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse7" aria-expanded="false" aria-controls="collapse7">
          Toma de declaración del conductor
        </a>
      </h5>
    </div>
    <div id="collapse7" class="collapse" role="tabpanel" aria-labelledby="heading7">
      <div class="card-block">
        <app-declaracion-conductor-dsv></app-declaracion-conductor-dsv>
      </div>
    </div>
  </div>


  <div class="card">
    <div class="card-header" role="tab" id="heading8">
      <h5 class="mb-0">
        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse8" aria-expanded="false" aria-controls="collapse8">
          Cédula de citación para Juicio Rápido por alcoholemia
        </a>
      </h5>
    </div>
    <div id="collapse8" class="collapse" role="tabpanel" aria-labelledby="heading8">
      <div class="card-block">
        <app-cedula-citacion-jr-dsv></app-cedula-citacion-jr-dsv>
      </div>
    </div>
  </div>

    <div class="card">
    <div class="card-header" role="tab" id="heading9">
      <h5 class="mb-0">
        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse9" aria-expanded="false" aria-controls="collapse9">
          Puesta en libertad
        </a>
      </h5>
    </div>
    <div id="collapse9" class="collapse" role="tabpanel" aria-labelledby="heading9">
      <div class="card-block">
        <app-puesta-libertad></app-puesta-libertad>
      </div>
    </div>
  </div>


    <div class="card">
    <div class="card-header" role="tab" id="heading10">
      <h5 class="mb-0">
        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse10" aria-expanded="false" aria-controls="collapse10">
          Información al investigado de que podrá ser requerido
        </a>
      </h5>
    </div>
    <div id="collapse10" class="collapse" role="tabpanel" aria-labelledby="heading10">
      <div class="card-block">
        <app-informacion-investigado-dsv></app-informacion-investigado-dsv>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header" role="tab" id="heading11">
      <h5 class="mb-0">
        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse11" aria-expanded="false" aria-controls="collapse11">
          Falta de Validez del Permiso de Conducción Provisional de Reino Unido
        </a>
      </h5>
    </div>
    <div id="collapse11" class="collapse" role="tabpanel" aria-labelledby="heading11">
      <div class="card-block">
        <app-validez-pnc-uk-aprendizaje></app-validez-pnc-uk-aprendizaje>
      </div>
    </div>
  </div>
 
</div>
<br/>&nbsp;



