<p>DILIGENCIA DE PUESTA EN LIBERTAD.
</p>

<p>
Se extiende para hacer constar que el detenido Sr/a. D./Dña. ______________________
________________________________________, tras haber sido comprobado su domicilio,
carecer de antecedentes (o no tener nada pendiente), por presumirse que no se sustraerá a la acción de la
Justicia, y a juicio del Instructor, los hechos que se le imputan no revisten carácter de gravedad, es por lo
que se dispone su puesta en libertad, abandonando el lugar de autos a las ____:____ horas del día
___/___/______, tras ser advertido de la obligación que tiene de comparecer ante la Autoridad Judicial,
el día del juicio para el que haya sido citado o cuando para ello fuere requerido.
</p>

<p>
Y para que así conste se extiende la presente que firma el implicado en presencia y en unión de
los Agentes Instructores.
</p>