<p>
DILIGENCIA DE INFORMACIÓN DE LOS DERECHOS DEL INVESTIGADO NO
DETENIDO.-
</p>

<p>
Siendo las ____:____ horas del día ____/____/______ y en cumplimiento de lo dispuesto en el
artículo 118 de la Ley de Enjuiciamiento Criminal, se procede por parte de los Agentes de la Policía
Local de Elche con NIP ____ y ____, Instructor y Secretario, a poner en conocimiento de
D/Dña._____________________________________________________________________________,
que ha sido denunciado por su participación en un presunto delito contra la Seguridad Vial, por
_____________________________________________________, así como los derechos que le asisten,
consistentes en:
</p>

<p>
a) Derecho a ser informado de los hechos que se le atribuyan, así como de cualquier cambio
relevante en el objeto de la investigación y de los hechos imputados. Esta información será facilitada
con el grado de detalle suficiente para permitir el ejercicio efectivo del derecho de defensa.
b) Derecho a examinar las actuaciones con la debida antelación para salvaguardar el derecho de
defensa y en todo caso, con anterioridad a que se le tome declaración.
c) Derecho a actuar en el proceso penal para ejercer su derecho de defensa de acuerdo con lo
dispuesto en la ley.
d) Derecho a designar libremente abogado, sin perjuicio de lo dispuesto en el apartado 1 a) del
artículo 527.
e) Derecho a solicitar asistencia jurídica gratuita, procedimiento para hacerlo y condiciones para
obtenerla.
f) Derecho a la traducción e interpretación gratuitas de conformidad con lo dispuesto en los
artículos 123 y 127.
g) Derecho a guardar silencio y a no prestar declaración si no desea hacerlo, y a no contestar a
alguna o algunas de las preguntas que se le formulen.
h) Derecho a no declarar contra sí mismo y a no confesarse culpable.
</p>

<p>
Igualmente se le informa:
1.- Se le hará entrega de una copia de esta diligencia con las causas que motivaron su detención
y los derechos constitucionales que le asisten.
</p>

<p>
QUEDO INFORMADO DE MIS DERECHOS a las __:__ horas del día __/__/____
expresando mi deseo de:
</p>

<p>
No declarar, solo declarará ante la Autoridad Judicial.-
Ser asistido por el letrado: D._________________________________________________, en
sede policial y judicial.-
Ser asistido por el letrado del turno de oficio en sede policial y judicial.-
Ser asistido por un intérprete.-
Prescindir de la asistencia letrada en la toma de declaración y demás diligencias que se
practiquen en sede policial.-
Solicitar asistencia jurídica gratuita, procedimiento para hacerlo y condiciones para
obtenerla.-
</p>

<p>
Y para que así conste, una vez leída y hallándola el/la implicado/a conforme, firma la
presente en unión de los Agentes Instructores que CERTIFICAN.
</p>
