<p class="diligencia-titulo">
DILIGENCIA DE INFORME SOBRE LA VALIDEZ DEL PERMISO DE
CONDUCIR BRITÁNICO DE APRENDIZAJE.-
</p>

<p>
    En     , siendo las         horas del día     , por los Agentes
de las presentes diligencias con T.I.P.         y        se hace constar que:
</p>

<p>
Conforme al artículo 16 del ordenamiento jurídico nacional del Reino Unido,
“Statutory Instrument 1999 No 2864, The Motor Vehicles (Driving Licences)
Regulations” en relación con lo establecido en el artículo 98 de la Ley de Tráfico
(Traffic Act), el permiso provisional <i>se considera parte integrante de las actividades de
formación práctica de los conductores</i>, al ser expedido por la DVLA (Driver and
Vehicle Licensing Agency) equivalente a la Jefatura de Tráfico, <span class="subrayado">sin que sea obligatorio
efectuar un examen de conducción</span>.
</p>

<p>
Su posesión sólo autorizaría de conformidad con el artículo 16.13 de la norma
viaria inglesa, a conducir dentro del territorio de Gran Bretaña y en unas condiciones
muy concretas, como la definida en el artículo 2.a del citado artículo, estableciendo que
el titular de un permiso de este tipo ha de ir acompañado de un conductor cualificado y
además llevar en la parte ¿anterior y posterior? del vehículo la señal “L” en color rojo.
</p>

<p>
Que igualmente se hace constar que conforme al apartado B.7, de la Parte I, de
la Comunicación interpretativa de la Comisión sobre los permisos de conducción
comunitarios <span class="subrayado">2002/C 77/03 publicado en el Diario Oficial de las Comunidades Europeas
de fecha 28 de marzo de 2002</span>, ratifica lo enunciado, al indicar que <i>“son documentos
nacionales expedidos dentro de las actividades de formación del conductor y no dan
derecho a conducir fuera del territorio del Estado miembro que los ha expedido”</i>.
</p>


<p>
Asimismo se hace constar, que en virtud del apartado 2 del artículo 1 de la
Directiva 91/439/CEE del Consejo, de 29 de julio de 1991, indica que <span class="negrita">el permiso
provisional mencionado no es un auténtico permiso de conducción</span>, pues como prevé en
su artículo 7 la expedición de un permiso de conducción está supeditada a la aprobación
de una prueba de control de aptitud y comportamiento, concordando con lo establecido
en el Capítulo IV de la Convención sobre Circulación Vial de Viena de 7 de octubre de
1968, requisito que no cumple el mencionado permiso y motivo por el cual se inician
las presentes diligencias, por <span class="negrita">considerar que la conducción en España con este tipo de
permiso provisional es equivalente a no haber obtenido nunca permiso o licencia de
conducción</span>, tipificada en el artículo 384 del vigente Código Penal.
</p>

<p>
Y para que así conste se extiende la presente que firma el implicado en presencia y en unión de
los Agentes Instructores.
</p>

