<p>
  DILIGENCIA DE INFORMACIÓN AL INVESTIGADO.
</p>

<p>
En Elche, siendo las ____:____ horas del día ___/___/_____ , ante los funcionarios del Cuerpo
de la Policía Local con número profesionales __________ y ___________ , se procede a informar a
D./Dña_______________________________________________________________________ , con
D.N.I. nº ____________________________, que ha sido denunciado por un presunto delito contra la
Seguridad Vial, por conducir un vehículo a motor o ciclomotor
____________________________________________________________, siendo remitidas las
diligencias al Juzgado de Instrucción nº _________de Elche, sito en la calle Eucaliptus, de esta ciudad,
autoridad ante la que deberá comparecer cuando sea requerido para ello.</p>

<p>
Se le informa que en caso de incomparecencia en el Juzgado en el día y hora señalados, la orden
de comparecencia podrá convertirse en orden de detención (art. 487 de la Ley de Enjuiciamiento
Criminal).
</p>

<p>
Queda informado igualmente que en caso de cambio de domicilio deberá participarlo a la
Autoridad Judicial.
</p>

<p>
Y para que así conste se extiende la presente que firma el implicado en presencia y en unión de
los Agentes Instructores.
</p>

<p>
Recibí:
</p>