<p>
  ACTA DE LEVANTAMIENTO DE INMOVILIZACIÓN DE UN VEHÍCULO
</p>

<p>
En la Ciudad de Elche, (Alicante), siendo las ____:_____ horas del día ___/___/______, se
procede por los agentes de esta Policía Local con números profesionales _______ y ________, al
levantamiento de la inmovilización del vehículo marca/modelo ______________________________,
con matrícula y/o bastidor ___________________, siendo su titular y/o conductor
D./Dña._____________________________________________, con D.N.I./N.I.E. Nº_______________
de nacionalidad ___________________, nacido/a el _______________ en________________ , vecino
de ________________, con domicilio en _________________________________________________.</p>

<p>
La inmovilización, que se llevó a efecto en _______________________________________
de Elche, queda sin efecto y el citado vehículo a disposición del referido implicado, al haber
desaparecido las causas que motivaron la medida cautelar.</p>

<p>
Por carecer el referido titular o conductor de un documento válido para conducción o no estar
en las condiciones legales exigidas para la conducción, autoriza a la conducción del vehículo a D./Dña.
_________________________________________________, con permiso de conducción de tipo
_____, nº_____________, expedido por la Jefatura de Tráfico de _______________ encontrándose en
vigor, vecino de ______________, con domicilio en ________________________________________,
a quien se le hacen las siguientes advertencias:</p>

<p>

El titular o conductor reseñado, tiene EXPRESA PROHIBICIÓN DE CONDUCIR y se
encuentra incurso en un procedimiento penal por un presunto delito contra la seguridad vial,
manteniéndose la prohibición hasta que obtenga la autorización administrativa correspondiente o cesen
las causas que motivaron la prohibición de conducir, o sea autorizado por el Tribunal que deba enjuiciar
o proseguir la instrucción del procedimiento.
</p>

<p>
El titular o conductor reseñado, tiene EXPRESA PROHIBICIÓN DE CONDUCIR,
manteniéndose la prohibición hasta que cesen las causas que motivaron la prohibición de conducir.
</p>

<p>
Por lo que el conductor autorizado, deberá tomar las medidas que considere oportunas para no
tener complicidad en caso de desobediencia tipificado en la Ley de Seguridad Ciudadana. Cabe reseñar
que ha sido sometido a prueba de alcohol en aire espirado con resultado NEGATIVO.
</p>

<p>
Y para que así conste, se extiende la presente, que una vez leída por todas las partes
implicadas, firman en prueba de conformidad en unión de la fuerza instructora.
</p>
