<p>
ACTA DE INFORMACIÓN SOBRE SOLICITUD ASISTENCIA JURÍDICA GRATUITA
</p>

<p>
1.- Requisitos para su solicitud (art. 3.1 a 3.4 Ley 1/1996)
Con carácter general se reconocerá el derecho de asistencia jurídica gratuita a aquellas personas físicas que careciendo de patrimonio
suficiente cuenten con unos recursos e ingresos económicos brutos, computados anualmente por todos los conceptos y por unidad familiar,
que no superen los siguientes umbrales:
a) Dos veces el indicador público de renta de efectos múltiples vigente en el momento de efectuar la solicitud cuando se trate de personas no
integradas en ninguna unidad familiar.
b) Dos veces y media el indicador público de renta de efectos múltiples vigente en el momento de efectuar la solicitud cuando se trate de
personas integradas en alguna de las modalidades de unidad familiar con menos de cuatro miembros.
c) El triple de dicho indicador cuando se trate de unidades familiares integradas por cuatro o más miembros.
2.- Contenido del derecho (art. 6 Ley 1/1996)
El derecho a la asistencia jurídica gratuita comprende las siguientes prestaciones:
1. Asesoramiento y orientación gratuitos previos al proceso a quienes pretendan reclamar la tutela judicial de sus derechos e intereses,
cuando tengan por objeto evitar el conflicto procesal, o analizar la viabilidad de la pretensión.
2. Asistencia de abogado al detenido o preso que no lo hubiera designado, para cualquier diligencia policial que no sea consecuencia de un
procedimiento penal en curso o en su primera comparecencia ante un órgano jurisdiccional, o cuando ésta se lleve a cabo por medio de
auxilio judicial y el detenido o preso no hubiere designado Letrado en el lugar donde se preste.
3. Defensa y representación gratuitas por abogado y procurador en el procedimiento judicial, cuando la intervención de estos profesionales
sea legalmente preceptiva o, cuando no siéndolo, sea expresamente requerida por el Juzgado o Tribunal mediante auto motivado para
garantizar la igualdad de las partes en el proceso.
4. Inserción gratuita de anuncios o edictos, en el curso del proceso, que preceptivamente deban publicarse en periódicos oficiales.
5. Exención del pago de tasas judiciales, así como del pago de depósitos necesarios para la interposición de recursos.
6. Asistencia pericial gratuita en el proceso a cargo del personal técnico adscrito a los órganos jurisdiccionales, o, en su defecto, a cargo de
funcionarios, organismos o servicios técnicos dependientes de las Administraciones públicas.
Excepcionalmente y cuando por inexistencia de técnicos en la materia de que se trate, no fuere posible la asistencia pericial de peritos
dependientes de los órganos jurisdiccionales o de las Administraciones públicas, ésta se llevará a cabo, si el Juez o el Tribunal lo estima
pertinente, en resolución motivada, a cargo de peritos designados de acuerdo a lo que se establece en las leyes procesales, entre los técnicos
privados que correspondan.
El Juez o Tribunal podrá acordar en resolución motivada que la asistencia pericial especializada gratuita se lleve a cabo por profesionales
técnicos privados cuando deba prestarse a menores y personas con discapacidad psíquica que sean víctimas de abuso o maltrato, atendidas
las circunstancias del caso y el interés superior del menor o de la persona con discapacidad, pudiendo prestarse de forma inmediata.
7. Obtención gratuita de copias, testimonios, instrumentos y actas notariales, en los términos previstos en el artículo 130 del Reglamento
Notarial.
8. Reducción del 80 por 100 de los derechos arancelarios que correspondan por el otorgamiento de escrituras públicas y por la obtención de
copias y testimonios notariales no contemplados en el número anterior, cuando tengan relación directa con el proceso y sean requeridos por
el órgano judicial en el curso del mismo, o sirvan para la fundamentación de la pretensión del beneficiario de la justicia gratuita.
9. Reducción del 80 por 100 de los derechos arancelarios que correspondan por la obtención de notas, certificaciones, anotaciones, asientos
e inscripciones en los Registros de la Propiedad y Mercantil, cuando tengan relación directa con el proceso y sean requeridos por el órgano
judicial en el curso del mismo, o sirvan para la fundamentación de la pretensión del beneficiario de la justicia gratuita.
10. Los derechos arancelarios a que se refieren los apartados 8 y 9 de este artículo no se percibirán cuando el interesado acredite ingresos
por debajo del salario mínimo interprofesional.
3.- Solicitud (art. 12 Ley 1/1996)
1. El solicitante del derecho a la asistencia jurídica gratuita deberá indicar cuáles son las prestaciones incluidas en el artículo 6 cuyo
reconocimiento pide. El reconocimiento del derecho a la asistencia jurídica gratuita comportará en todo caso la exención del pago de las
tasas y depósitos previstos en el número 5 del artículo 6. La solicitud del reconocimiento del derecho podrá formularse a los solos efectos de
la exención del pago de las tasas y depósitos señalados.
2. El reconocimiento del derecho a la asistencia jurídica gratuita, que podrá comprender todas o algunas de las prestaciones previstas en el
artículo 6, se instará por los solicitantes ante el Colegio de Abogados del lugar en que se halle el Juzgado o Tribunal que haya de conocer del
proceso principal para el que aquél se solicita, o ante el Juzgado de su domicilio. En este último caso, el órgano judicial dará traslado de la
petición al Colegio de Abogados territorialmente competente.
4.- Requisitos de la solicitud (art. 13 Ley 1/1996)
En la solicitud se harán constar, acompañando los documentos que reglamentariamente se determinen para su acreditación, los datos que
permitan apreciar la situación económica del interesado y de los integrantes de su unidad familiar, sus circunstancias personales y
familiares, la pretensión que se quiere hacer valer y la parte o partes contrarias en el litigio, si las hubiere.
</p>
