<p class="atestado-titulo">
  Atestado instruido por un presunto delito contra la Seguridad Vial de conducción de vehículos a motor bajo la influencia de bebidas alcohólicas.
</p>

<p class="diligencia-titulo">
  ATESTADOS E INVESTIGACIÓN DE ACCIDENTES. 
</p>


<span class="negrita subrayado">COMPARECENCIA.</span><br/>
<p class="diligencia-parrafo">
  En Elche y en ______________________________________, siendo las_____ horas, del día____________, ante los funcionarios adscritos a la Unidad de Investigación de Accidentes de la Policía Local  de Elche, con carné profesional número _____ y_____, en adelante como Instructor y Secretario respectivamente, para la práctica de las presentes, COMPARECEN: 
  Los funcionarios del Cuerpo_______________________, con número de carné profesional __________y__________, integrantes de la dotación policial con indicativo _____________ los cuales: 
</p>


<span class="negrita subrayado">PRESENTAN:</span><br/>
<p class="diligencia-parrafo">
  D/Dña. ___________________________________________________________________________, con DNI/NIE _______________________, de nacionalidad _________________, nacido en _______________, el día ___/___/_____, hijo de _________ y de __________, vecino de _______________, con domicilio en la calle ______________________________________________
_________________________________________________, con teléfono nº ___________________.
Poseedor de permiso de conducción de clase _____, con número ___________________, expedido en __________________, en vigor desde el ___/___/______ hasta el ___/___/______.
Conductor del vehículo ____________ marca/modelo ______________________________, matrícula _______________.
</p>

<span class="negrita subrayado">MANIFIESTAN:</span><br/>
<p class="diligencia-parrafo">
  Que __
</p>

<p class="diligencia-parrafo">
  Que no tienen más que decir, firmando la presente, una vez leída en prueba de conformidad, en unión del Instructor, de lo que como Secretario, CERTIFICO.
</p>
