<p>ACTA DE INMOVILIZACIÓN DE UN VEHÍCULO</p>

<p>
En la Ciudad de Elche, (Alicante), siendo las ____:_____ horas del día ___/___/______, se
procede por los agentes de esta Policía Local con números profesionales _______ y ________, a la
inmovilización del vehículo marca _______________________, con matricula y/o bastidor
_______________, siendo su titular y/o conductor D./Dña.
_________________________________________________________, con D.N.I./N.I.E. nº
__________________, de nacionalidad ___________________, nacido/a el ____________________
en __________________________________, vecino de _____________________, con domicilio en
C/ _____________________________________________________________________.</p>

<p>
La intervención del vehículo en cuestión es debida
____________________________________________________________________________
___________________________________________________________________________________.</p>

<p>
La inmovilización, se lleva a efecto en la calle___________________________
___________________________________________ de Elche, y queda a disposición del Equipo de
Atestados de Policía Local de Elche.</p>

<p>
En el presente acto, se le informa al conductor y/o titular de los siguientes:
1.- El implicado no podrá conducir el vehículo reseñado ni cualquier otro vehículo a motor ó
ciclomotor.
2.- El presente vehículo no podrá ser utilizado por el implicado ni por cualquier otra persona,
sin la previa autorización de Atestados.
En este acto se le informa que el incumplimiento de cualquiera de los dos apartados anteriores
podría suponer una infracción de &quot;Desobedicencia a los Agentes de la Autoridad&quot;, tipificado en la Ley
de Seguridad Ciudadana.
</p>

<p>
Y para que así conste se extiende la presente, que firma el implicado en presencia y en unión
de los Agentes Instructores.
</p>